body {
  text-align: center;
  width: 90%;
  background-color: #F6F2E6;
}

table {
  border: 1px solid;
}

#navi-list {
  background-color: #484847;
  list-style-type: none;
  margin: 0;
  text-decoration: none;
  padding: 0;
  display: inline;
}

img {
  margin: auto;
  width: 75%;
}

h1 {
  line-height: 0px;
  text-align: center;
}

div {
  margin: 30px;
  background-color: #E1A293;
  display: inline-block;;
  padding: 10px;
  border-radius: 25px;
}

#main-text {
  font-family: 'Slabo 27px', serif;
  background-color: #9CB1AE;
  padding: 50px;
  border-radius: 25px;
}

label, input {
  display: block;
  border-radius: 15px;
  text-align: center;
}

#new-store-form {
  width: 50%;
  margin: auto;
}

#table-border {
  border: 1px solid black;
}

#sales-fish {
  display: inline-block;
  width: 40%;
}
