body {
  text-align: center;
  width: 90%;
  background-color: #7c87c1;
}

table {
  border: 1px solid;
}

#navi-list {
  list-style-type: none;
}

img {
  margin: auto;
  width: 75%;
}

h1 {
  line-height: 0px;
  text-align: center;
}

div {
  margin: 30px;
  background-color: #dadcea;
  display: inline-block;;
  padding: 10px;
  border-radius: 25px;
}

#main-text {
  font-family: 'Slabo 27px', serif;
  background-color: #dadcea;
  padding: 50px;
  border-radius: 25px;
}

label, input {
  display: block;
  border-radius: 15px;
  text-align: center;
}
#new-store-form {
  width: 50%;
  margin: auto;
}
